$bg-primary: #1b2548;

body.unica {
  .toolbox-container {
    display: flex;
    width: 4rem;
    height: 100%;
    flex-direction: column;
    background-color: $bg-primary;
    padding-top: 1.5rem;
    .toolbox {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      align-items: center;
      padding-top: 0.75rem;
      .toolbox-item {
        margin: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: move;
        display: block;
        color: white;
      }
    }
  }
}
